{% extends 'personal/header.html' %}
{% load staticfiles %}
{% block content %}
  <div class="slide-down-fade-in">
    {% for project in object_list %}
      <div class="col-md-6 col-lg-6 text-center project-display">
        <a href="/projects/{{project.id}}">
          <p><img src="{% static project.img.url %}" class="projects-index-img img-responsive img-rounded"></p>
        </a>
        <p class="blog-title project-title" style="margin-bottom: 0px"> {{ project.title }} </p>
        <p class="blog-desc"> {{ project.desc }} </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}