{% extends 'personal/header.html' %}
{% load staticfiles %}

<!-- Extra head block-->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"/>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock extra_head %}

<!-- Content block -->
{% block content %}
  <div class="slide-down-fade-in post">
    <h2 class="post-title">{{ project.title }}</h2>
    <p class="post-date text-muted lead">on {{ project.pub_date }}</p>
    <p><img src="{% static project.img.url %}" class="project-img img-responsive img-rounded"></p>
    <div class="post-body">
      {{ project.body|safe }}
    </div>
  </div>
  <hr class="hline">
  <div id="disqus_thread"></div>
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
      // this.page.url = '/projects/' + "{{ project.id }}";
      this.page.identifier = 'projects-' + "{{ project.id }}";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://brians-bits.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <!-- SyntaxHighlighter JavaScript
    ================================================== -->  
  <script src="{% static 'js/syntaxhighlighter.js' %}" />
  <script>
    syntaxhighlighterConfig = {
      className: 'eclipse'
    };
  </script>

{% endblock content %}
