{% extends 'personal/header.html' %}
{% load staticfiles %}

<!-- Extra head block-->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"/>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock extra_head %}

<!-- Content block -->
{% block content %}
  <div class="slide-down-fade-in post">
    <p class="post-title">{{ project.title }}</p>
    <p class="post-date text-muted lead">on {{ project.pub_date }}</p>
    {{ project.body|safe }}
  </div>

  <!-- SyntaxHighlighter JavaScript
    ================================================== -->  
  <script src="{% static 'js/syntaxhighlighter.js' %}" />
  <script>
    syntaxhighlighterConfig = {
      className: 'eclipse'
    };
  </script>

{% endblock content %}
