<!DOCTYPE html>
<html lang="en">

<head>
  <title>Brian Zhang</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <style>@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400')</style>
  <style type="text/css">
    html,
    body {
      height:100%
    }
  </style>
  <style>
    .jumbotron{
      background-color: #2E2D88;
      color:white;
    }
  </style>
  <script src="https://use.fontawesome.com/dbf964d036.js"></script>
</head>

<body class="body" style="background-color:#f6f6f6">
  <div class="container-fluid" style="min-height:95%; ">
    <div class="row">
      <div class="col-sm-2">
        <br>
        <center>
          <img src="{% static 'personal/img/avatar.png' %}" class="img-rounded responsive-img" style='max-height:100px;' alt="face">
        </center>
      </div>
      <div class="col-sm-10">
        <br>
        <center>
          <h2>Brian's Bits</h2>
        </center>
      </div>
    </div><hr>

    <div class="row">
      <div class="col-sm-2">
        <br>

        <br>
        <!-- Great, til you resize. -->
        <!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
        <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
          <ul class="nav nav-pills nav-stacked">
            <li><a href='/'>Home</a></li>
            <li><a href='/blog/'>Blog</a></li>
            <li><a href='/contact/'>Contact</a></li>
          </ul>
        </div> <!--well bs-sidebar affix-->
      </div> <!--col-sm-2-->
      <div class="col-sm-10">
        
        <div class='container-fluid'>
          <br><br>
          {% block content %}
          {% endblock %}   
        </div>
      </div>
    </div> 
  </div>
  <footer>
    <div class="container-fluid" style="margin-left:15px">
      <p>
        <i class="fa fa-fw fa-globe" style="font-size:16px"></i> <a href="http://brianzhang.info/contact/" target="_self">Contact</a> |
        <i class="fa fa-fw fa-linkedin" style="font-size:16px;color:#0077B5"></i> <a href="https://www.linkedin.com/in/qiang-brian-zhang-44b66064" target="_blank">LinkedIn</a> |
        <i class="fa fa-fw fa-github" style="font-size:16px"></i> <a href="https://github.com/brianzq" target="_blank">Github</a> |
        <i class="fa fa-fw fa-twitter" style="font-size:16px;color:#00aced;"></i> <a href="https://twitter.com/brian_zq" target="_blank">Twitter</a> |
      </p>
    </div>
  </footer>   
  
</body>

</html>
