{% extends "personal/header.html" %}
<!-- {% load staticfiles %} -->
{% block content %}
  <div id="home-block">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div id="avatar">
        <img src="{% static 'personal/img/avatar.png' %}" class="img-responsive img-circle center-block">
      </div>
    </div>
    <div class="col-sm-1 hidden-md hidden-lg"></div>
    <div class="col-sm-10 col-md-8 col-lg-8">
      <div id="home-text">
        <p>I'm Brian Zhang, a data scientist who enjoys thinking about ins and outs of machine learning models, probability distributions and vector spaces, a self-taught engineer who loves building things and refactoring my code from a year ago.</p>

        <p>I'm currently reading <a href="https://statweb.stanford.edu/~tibs/ElemStatLearn/">The Elements of Statistical Learning</a> and I get inspired by <a href="/blog/11">these podcasts</a>.</p>

        <p>In my spare time, I play NBA2k17 and here is my <a href="http://2kmtcentral.com/17/lineups/552180/mylineup">current lineup</a> in MyTEAM.</p>
      </div>
    </div>
    <div class="col-sm-1 hidden-md hidden-lg"></div>
  </div>
{% endblock %}
