/*------------- fonts --------------*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato|Molengo');
@font-face {
  font-family: ChunkFive;
  src: url('../fonts/Chunk.otf');
} 
@font-face {
  font-family: ChunkFivePrint;
  src: url('../fonts/Chunk\ Five\ Print.otf');
  }

/*------------- global --------------*/
a {
  color: #C07B84;
}
a:hover {
  color: #AE0118;
}
.float-right {
  float: right;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #efefef;
  color: #2C2C2C;
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.starter-template {
  padding: 20px 20px;
  margin: 0px 40px;
}
#projects-index-img {
    display: block;
    width: 70%;
    margin: 15px auto;
    padding: 0px 10px;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  #projects-index-img {
    width: 90%;
  }
  .starter-template {
    padding: 20px 15px;
    margin: 0px 0px;
  }
}
li.less-indent {
  margin-left: -20px;
}

/*------------- brand --------------*/
.brand {
  font-family: 'ChunkFive';
  font-weight: bold;
  float: none;
  display: block;
  height: 50px;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
a.brand:hover {
  text-decoration: none;
}
.brand .brand-brians {
  color: #4C4C4C;
}
.brand .brand-bits {
  color: #AE0118;
}

/*------------- navbar --------------*/
.nav {
  font-family: 'Molengo', sans-serif;
}
.container > .navbar-header,
.container-fluid > .navbar-header{
  padding: 0px 5px;
  margin: 0px 15px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #999999;
}
/* nav-menu-toggle */
#nav-menu-toggle {
  display: inline-block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 6px 0px;
  float: none;
  border-style: none;
}
#nav-menu-toggle:hover {
  cursor: pointer;
}
#nav-menu-toggle::before {
  content: "Menu";
  font-weight: 400;
  font-size: 0.9em;
  float: left;
  margin-top: -3px;
  color: #4C4C4C;
}
#nav-menu-toggle .icon-bar {
  background-color: #6C6C6C;
}
/* nav-menu */
#nav-menu {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0px;
  color: #4C4C4C;
}
#nav-menu ul {
  display: inline-block;
  float: none;
  /*text-align: center;*/
}
#nav-menu ul li a{
  display: block;
  text-align: center;
}
#nav-menu li.active a {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #AE0118;
}
#nav-menu li a {
  color: inherit;
  font-weight: 400;
  font-size: 1.2em;
  padding: 8px 5px;
  margin: 0px 10px;
}
#nav-menu li a:hover {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #C07B84;
  background-color: transparent;
}
/* desktop */
@media (min-width: 768px) {
  .navbar-header {
    display: none;
  }
}
/* mobile */
@media (max-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header{
    margin-top: 5px;
  }
  #nav-menu li a {
    color: inherit;
    font-size: 1.05em;
    font-weight: 300;
    background-color: transparent;
    padding: 8px 5px;
    margin: 0px 10px;
  }
  #nav-menu li.active a {
    color: #AE0118;
    border-bottom-style: none;
  }
  #nav-menu li a:hover {
    color: #C07B84;
    border-bottom-style: none;
  }
}

/*------------- footer --------------*/
#footer {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  #footer {
    padding-bottom: 15px;
  }
}
#footer i {
  font-size: 1em;
  color: #4C4C4C;
}
#footer a {
  font-family: 'Molengo', sans-serif;
  color: #AE0118;
}
#footer a:hover {
  color: #C07B84;
}
/*------------- blog --------------*/
.blog-title {
  text-align: center;
}
.blog-title p {
  margin-bottom: 2px;
}
.blog-title a {
  font-size: 1.4em;
  color: #AE0118;
  /*color: #AE0118;*/
  /*font-weight: bold;*/
}
.blog-title a:hover {
  color: #C07B84;
  /*font-size: 1.4em;*/
  /*color: #AE0118;*/
  /*font-weight: bold;*/
}
.blog-title-date {
  font-size: 0.9em;
}

/*------------- post --------------*/
#post .post-title{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 6px;
  color: #4C4C4C;
}
#post .post-date{
  text-align: center;
  font-size: 1em;
}
.monospace {
  font-family: "ubuntu mono", consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace !important;
  color: #666;
}