{% extends 'personal/header.html' %}
{% load staticfiles %}

<!-- Extra head block-->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"/>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock extra_head %}

<!-- Content block -->
{% block content %}
  <container id="post">
    <p class="post-title">{{ post.title }}</p>
    <p class="post-date text-muted lead">on {{ post.pub_date }}</p>
    <br>
    {{ post.body|safe }}
  </container>

  <!-- SyntaxHighlighter JavaScript
    ================================================== -->  
  <script src="{% static 'js/syntaxhighlighter.js' %}" />
  <script>
    syntaxhighlighterConfig = {
      className: 'eclipse'
    };
  </script>

{% endblock content %}
